.banner {
  font-family: $font-primary;
  width:100%;
  // height:320px;
  background-image: url("https://images.pexels.com/photos/4982171/pexels-photo-4982171.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  @include cover-image;
  &__title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-top: 180px;
    padding-left: 80px;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
}

.breadcrumb {
  padding-left:80px;
  background-color:rgba(255,255,255,0);
  display: inline-block;
  &-item {
    font-size: 16px;
    font-family:$font-secondary;
    font-weight: 400;
    color:$color-breakcrumb;
    display: inline-block;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }

  & a {
    color:$color-breakcrumb;
  }

  .active {
    color: $color-success;

  }

  & span {
    margin:10px;
  }
}


