.btn {
  border: 0;
  background-color: $color-primary;
  // color: $color-light;
  padding: px(20);
  font-size: px(14);
  cursor: pointer;
}

.btn-submit {
  padding: 16px 55px;
  font-size: 12px;
  color: #fff;
  background-color: #000;
  letter-spacing: 2.5px;
  out-line:none;
}
// .btn--secondary {
//   background-color: $color-secondary;
// }

// .btn--tertiary {
//   background-color: $color-tertiary;
// }
